---
import BaseLayout from "../layouts/BaseLayout.astro";
import SEO from "../components/SEO.astro";
import { LoginForm } from "../components/auth/login-form";
---

<BaseLayout>
  <SEO slot="head" title="Log In" noIndex={true} />
  <div class="relative">
    <LoginForm client:load />
  </div>
</BaseLayout>
