---
import { LoginForm } from "../components/auth/login-form";
import SEO from "../components/SEO.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<SEO slot="head" title="Log In" noIndex={true} />
	<div class="relative">
		<LoginForm client:load />
	</div>
</BaseLayout>
